<div class="container mt-10 border-r border-gray-200 w-full">
  <a href="{{ data.news.0.link }}" >
    <div class="news-w-full w-full" style="background-image: url('{{ file_url(data.news.0.image_url) }}')">
      <div class="content-news-w-full">
        <div class="tag-news-w-full">{{data.news.0.tag}}</div>
        <div class="title-news-w-full">{{ data.news.0.pre_title }}<span><p>{{data.news.0.title}} </p></span></div>
      </div>
    </div>
  </a>
</div>
